/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'), url(./assets/fonts/dm-sans.ttf) format('truetype');
}

* { 
    margin: 0; 
    padding: 0;
}

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;

    /* disables vertical scroll, want it to be a single clean page */
    overflow-y: hidden;
    color: #FFFFFF
}

  .mat-raised-button{
    background-color: #424242;
    color: whitesmoke;
}


